<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Destruction App</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/reg_log.css}">
    <link rel="stylesheet" th:href="@{/css/cssgrid.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header class="contenedor">
    <img th:src="@{/imagenes/mus.png}" alt="Logo" class="logo">

    <div class="contcerrarsesion" th:if="${usuarioNombre != null}">
        <div class="contMensaje">
            <p>Usuario: <span class="usu" th:text="${usuarioNombre}">Nombre de usuario</span></p>
        </div>
        <div class="contDdboton">
            <form th:action="@{/logout}" method="POST">
                <button type="submit" id="ddboton2" class="btn btn-primary">Cerrar sesión</button>
            </form>
        </div>
    </div>
</header>

<video class="video-container" id="video-bg" muted autoplay loop>
    <source th:src="@{/imagenes/espacio.mp4}" type="video/mp4">
</video>

<div class="formularioReg">
	<div class="formReg">
        <h1><b>Regenerar contraseña</b></h1>
        <div th:if="${errorReset != null}">
		    <p style="color: red;" th:text="${errorReset}"></p>
		</div>
		
		<div th:if="${mensajeExito != null}" class="alert alert-success">
		    <p th:text="${mensajeExito}"></p>
		</div>

        <form th:action="@{/reset-password}" method="POST" onsubmit="return validarPasswords()">
			<input type="hidden" name="token" th:value="${token}">

		    <label for="resetPass">Nueva contraseña:</label>
		    <input type="password" id="password" name="password" required>
		
			<label>Confirmar contraseña:</label>
		    <input type="password" id="password2" name="password2" required>
		
		    <p id="errorMsg" style="color:red; display:none;">Las contraseñas no coinciden</p>
			
		    <button class="recuperacion" type="submit">Cambiar contraseña</button>
            <a href="/registro-login" class="botonVolver">Volver</a>
        </form>
    </div>
</div>

<div class="info-contacto">
    <img src="/imagenes/mus.png" class="logo-contacto" alt="Munirehab">

    <div class="fila">
        <img src="/imagenes/whats.png" class="icono" alt="WhatsApp">
        <span>+34 604 94 49 97</span>
    </div>

    <div class="fila">
        <img src="/imagenes/inst.png" class="icono" alt="Instagram">
        <a href="https://www.instagram.com/muni.rehab" target="_blank">@muni.rehab</a>
    </div>
    <div class="fila">
        <img src="/imagenes/you.png" class="icono" alt="Youtube">
        <a href="https://www.youtube.com/channel/UCcot8aFtx1dh6LWzxnfVhuA" target="_blank">@muni.rehab98</a>
    </div>
</div>

<div class="pie-pagina">
    <h3 class="pie">Esta es una web creada por A.Munilla. 2023-2024</h3>
</div>

<script>
function validarPasswords() {
    const pass1 = document.getElementById("password").value;
    const pass2 = document.getElementById("password2").value;
    const error = document.getElementById("errorMsg");

    if (pass1 !== pass2) {
        error.style.display = "block";
        return false; // ❌ no envía el formulario
    }

    error.style.display = "none";
    return true; // ✔ envía el formulario
}
</script>

</body>
</html>
